### Some Basics:

In [ ]:
### Python Indentation and Comments:

if 5 > 2:
    print("Five is greater than two!")

## Two Notes:
# The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.
# You have to use the same number of spaces in the same block of code, otherwise Python will give you an error


"""
This is a comment
written in
more than just one line
"""

Five is greater than two!

'\nThis is a comment\nwritten in\nmore than just one line\n'

In [ ]:
### Python Variables:
#Python has no command for declaring a variable.
#A variable is created the moment you first assign a value to it.

x = 4       # x is of type int
y = "Sally" # x is now of type str
print(x)
print(y)
print(type(x))
print(type(y))

# Note: Variable names are case-sensitive.

4
Sally
<class 'int'>
<class 'str'>

In [ ]:
###Many Values to Multiple Variables:

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
###One Value to Multiple Variables:

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
### Unpack a Collection:

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)
print(type(fruits))
print(type(x))

apple
banana
cherry
<class 'list'>
<class 'str'>

In [ ]:
### An important note about printing:
#In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error

x = 5
y = "John"
print(x, y)

5 John

### Python Data Types:

In [ ]:
x = "Hello World"
print(type(x))

<class 'str'>

In [ ]:
x = 20
print(type(x))

<class 'int'>

In [ ]:
x = 20.5
print(type(x))

<class 'float'>

In [ ]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [ ]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [ ]:
x = range(6)
print(type(x))

<class 'range'>

In [ ]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [ ]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [ ]:
x = True
print(type(x))

<class 'bool'>

In [ ]:
x = None
print(type(x))

<class 'NoneType'>

### Random Numbers:

In [ ]:
### Python does not have a random() function to make a random number,
###but Python has a built-in module called random that can be used to make random numbers:

import random

print(random.randrange(1, 10))

4

### Python Strings:

In [ ]:
# You can assign a multiline string to a variable by using three quotes:

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
# Get the character at position 1:

a = "Hello, World!"
print(a[1])

e

In [ ]:
# Looping Through a String:
a="banana"
for x in a:
    print(x)

print(len(a))

b
a
n
a
n
a
6

In [ ]:
# Check String:

txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
# Slicing Strings:

b = "Hello, World!"
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2])

llo
Hello
llo, World!
orl

In [ ]:
# The upper() method returns the string in upper case

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
# String Concatenation:

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
# String Format:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
# \ is the escape character, you can also use \n to go to a new line
# You can also search online for all available string methods

### Booleans:

In [ ]:
a = 20
b = 33
c=b>a
if c:
    print("b is greater than a")
else:
    print("b is not greater than a")

print(type(c))

b is greater than a
<class 'bool'>

### Lists:

In [ ]:
#Lists are one of 4 built-in data types in Python used to store collections of data,
#the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
#Lists are created using square brackets

list1 = ["abc", 34, True, 40, "male"]

thislist = list(("apple", "banana", "cherry",4,6,8)) # note the double round-brackets

print(thislist)
print(thislist[1])
print(thislist[-1])
print(thislist[2:5])
print(thislist[-4:-1])

if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

['apple', 'banana', 'cherry', 4, 6, 8]
banana
8
['cherry', 4, 6]
['cherry', 4, 6]
Yes, 'apple' is in the fruits list

In [ ]:
### Change list items:

thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry', 4, 6, 8]

In [ ]:
### Insert items:

thislist.insert(2, "watermelon")
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'watermelon', 'cherry', 4, 6, 8]

In [ ]:
### Extend lists:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
### append

thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya', 'orange']

In [ ]:
### pop _ if you dont enter the id, the function removes the last item

thislist.pop(1)
print(thislist)

['apple', 'cherry', 'mango', 'pineapple', 'papaya', 'orange']

In [ ]:
### Loop list

for i in range(len(thislist)):
    print(thislist[i])

apple
cherry
mango
pineapple
papaya
orange

In [ ]:
### Sort List

thislist.sort()
print(thislist)

['apple', 'cherry', 'mango', 'orange', 'papaya', 'pineapple']

In [ ]:
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'papaya', 'orange', 'mango', 'cherry', 'apple']

### Python Functions:

In [ ]:
def my_function():
    print("Hello from a function")

In [ ]:
my_function()

Hello from a function

In [ ]:
def my_function(fname):
    print(fname + " You are enrolled")

In [ ]:
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil You are enrolled
Tobias You are enrolled
Linus You are enrolled

## Tuple:

In [1]:
#Tuple
#Tuples are used to store multiple items in a single variable.

#Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

#A tuple is a collection which is ordered and unchangeable.

#Tuples are written with round brackets.

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [2]:
# To determine how many items a tuple has, use the len() function

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [3]:
# A tuple can contain different data types
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
print(type(tuple1))

('abc', 34, True, 40, 'male')
<class 'tuple'>

In [4]:
# Using the tuple() method to make a tuple

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)
print(thistuple[1])
print(thistuple[0:2])

('apple', 'banana', 'cherry')
banana
('apple', 'banana')

In [5]:
# Change Tuple Values
# Convert the tuple into a list to be able to change it

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [6]:
# Loop Through a Tuple

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [7]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [8]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

In [9]:
# Multiply the fruits tuple by 2

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Python Sets

In [10]:
#Sets are used to store multiple items in a single variable.

#Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

#A set is a collection which is unordered, unchangeable*, and unindexed.

# Sets are written with curly brackets.


thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [11]:
# Duplicate values will be ignored

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

In [12]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))
print(type(thisset))

3
<class 'set'>

In [13]:
#Add Any Iterable

# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'banana', 'orange', 'cherry', 'kiwi'}

In [14]:
# Loop Sets

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

### Python Dictionaries

In [16]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["brand"])
print(len(thisdict))
print(type(thisdict))
x = thisdict["model"]
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
3
<class 'dict'>
Mustang

In [17]:
#Using the dict() method to make a dictionary:


thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [18]:
# The keys() method will return a list of all the keys in the dictionary.

x = thisdict.keys()
print(x)

dict_keys(['name', 'age', 'country'])

In [19]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [20]:
# The values() method will return a list of all the values in the dictionary.

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [21]:
# o determine if a specified key is present in a dictionary use the in keyword

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [22]:
# The pop() method removes the item with the specified key name

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [23]:
# The del keyword removes the item with the specified key name


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [24]:
### Loop Through a Dictionary:
# Print all key names in the dictionary, one by one:

for x in thisdict:
    print(x)

brand
year

In [25]:
# Print all values in the dictionary, one by one:

for x in thisdict:
    print(thisdict[x])

# The same Result

for x in thisdict.values():
    print(x)

Ford
1964
Ford
1964

In [26]:
# Loop through both keys and values, by using the items() method:

for x, y in thisdict.items():
    print(x, y)

brand Ford
year 1964

In [27]:
### Nested Disctionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)


#The same result

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}


print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}